# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Outputs
steam-cropped/
output/
dist/
build/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Wails & Node
*.exe
frontend/dist/
frontend/node_modules/
node_modules/

